extends layout
block scripts
	script(src="/js/admin/main.js", defer)
block content
	.container
		.row.mt-3.mb-3
			h3 Módulo admin - CRUD Productos
		.row.mb-3
			.col-2
				h4 Create
			.col-2
				<input type="text" id="skuInput" class="form-control" placeholder="SKU">
			.col-4
				<input type="text" id="nombreProductoInput" class="form-control" placeholder="Nombre Producto">
			.col-2
				<select id="unidadMedidaSelect" class="custom-select">
					<option value="">Unidad medida</option>
				</select>
			.col-2
				<button id="guardarProductoButton" class="btn btn-primary" type="button">Guardar producto</button>
		.row
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">SKU Producto</th>
						<th scope="col">Nombre Producto</th>
						<th scope="col">Unidad Medida</th>
						<th scope="col">Fecha creación</th>
						<th scope="col">Estado</th>
						<th scope="col">Acción</th>
					</tr>
				</thead>
				<tbody id="tbodyProductos">
				</tbody>
			</table>
	<div class="modal fade" id="modalEdicionProducto" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edicion producto</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					.row.mb-3
						.col-6
							<input type="text" id="skuInputModal" class="form-control">
							<input type="hidden" id="idProductoModal" value="" >
						.col-6
							<select id="unidadMedidaSelectModal" class="custom-select">
								<option value="">Unidad medida</option>
							</select>
					.row.mb-3
						.col-12
							<input type="text" id="nombreProductoInputModal" class="form-control">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					<button type="button" id="guardarCambiosModalButton" class="btn btn-primary">Guardar cambios</button>
				</div>
			</div>
		</div>
	</div>